.postLayout {
    padding-left: 1rem;
    width: 67%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-top: 2%;
    background-color: oldlace;
    border-right: solid thin silver;
}

@media screen and (max-width: 850px) {
    .postLayout {
      width: 100%;
      border: none;
    }
}

.date {
    color: #4ca34c;
}