.posts {
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
    width: 67%;
    margin-bottom: 1%;
    padding-right: 3%;
    border-right: solid thin black;
}

@media screen and (max-width: 850px) {
    .posts {
      width: 100%;
      border: none;
    }
}

.econTitle {
    padding-left: 1rem;
}

.post {
    margin: 1rem 0;
    margin-right: 0;
    

    a {
        color: #111111;
        text-decoration: none;
        display: block;
        padding: 0;
        margin-right: 1rem;
    }

    img:hover {
        opacity: .9;
    }

    a:hover {
        color: #333333
    }
    
    h2 {
        margin-bottom: 0;
    }

    .date {
        color: #333333;
        padding-top: 3px;
        font-size: .8rem;
    }
}