.posts {
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
    width: 67%;
    margin-bottom: 1%;
    padding-right: 3%;
    background-color: oldlace;
    border-right: solid thin silver;
}

@media screen and (max-width: 850px) {
    .posts {
      width: 100%;
      border: none;
    }
}

.equityTitle {
    padding-left: 1rem;
}

.post {
    margin: 1rem 0;

    a {
        background: oldlace;
        color: #222222;
        text-decoration: none;
        display: block;
        padding: 1rem;
    }

    a:hover {
        text-decoration: underline;
    }
    
    h2 {
        margin-bottom: 0;
    }

    .date {
        color: #4ca34c;
        padding-top: 3px;
        font-size: .8rem;
    }
}