.header {
    padding: 0;
}

.banner {
    width: 98.77vw;
    height: 180px;
    background-image: url('../images/green-banner.jpg');
    background-size: cover;
    position: absolute; left: 0; top: 0;
    z-index: -1;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 50px;

    div {
        text-align: right;
        margin-right: 80px;
        padding-bottom: 10px;

        p, a {
            text-decoration: none;
            color: #f8f8f8;
            font-weight: normal;
        }

        a:hover {
            color: #dadada;
        }
    }
}

.title {
    color: #f8f8f8;
    font-size: 3.5rem;
    text-decoration: none;
}

.mainnav {
    max-width: 92vw;
    margin-right: 0;
    -webkit-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.17);
    box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.08);
}

.nav-list {
    display: flex;
    list-style-type: none;
    align-items: left;
    justify-content: left;
}

.nav-item {
    color: #444444;
    font-size: 1rem;
    margin-right: .1rem;
    text-decoration: none;
    padding: 1rem;
    padding-bottom: .73rem;
}

.nav-item:hover {
    background: linear-gradient(0deg, #dadada 0%, #f3f3f3 100%);
}

.active-nav-item{
    color: #4ca34c;
    background: linear-gradient(0deg, rgb(221, 221, 221) 0%, rgb(250, 250, 250) 100%);
}

