
.container {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 180px;
    padding-left: 7vw;
    padding-right: 7vw;
    background: antiquewhite;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

@media screen and (max-width: 1150px) {
    .container {
      padding: 1rem;
    }
}

.content {
    flex-grow: 1;
    padding-top: 2vh;
    margin-top: 22vh;
}