
.container {
    margin: 0 ;
    width: 100%;
    margin-bottom: 180px;
    padding-left: 7vw;
    padding-right: 5vw;
    background: whitesmoke;
    //  #f1f9ec; //peppermint  #74bbe8

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

@media screen and (max-width: 950px) {
    .container {
      margin: 0;
      margin-bottom: 150px;
      padding: 0;
    }
}

.content {
    flex-grow: 1;
    padding: 0;
    padding-top: 2vh;
    margin-top: 180px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .content {
      margin-top: 20px;
      width: 100%;
      padding-top: 1vh;
      padding-left: 0;
      margin-left: 0;
    }
  }