@import url(//db.onlinewebfonts.com/c/0730b06a4e228d07698e9231ae777227?family=Copyright+Klim+Type+Foundry);

@font-face {
  font-family: FinancierX; 
  src: url("//db.onlinewebfonts.com/t/0730b06a4e228d07698e9231ae777227.eot"); 
  src: url("//db.onlinewebfonts.com/t/0730b06a4e228d07698e9231ae777227.eot?#iefix") 
  format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/0730b06a4e228d07698e9231ae777227.woff2") 
  format("woff2"), url("//db.onlinewebfonts.com/t/0730b06a4e228d07698e9231ae777227.woff") 
  format("woff"), url("//db.onlinewebfonts.com/t/0730b06a4e228d07698e9231ae777227.ttf") 
  format("truetype"), 
  url("//db.onlinewebfonts.com/t/0730b06a4e228d07698e9231ae777227.svg#Copyright Klim Type Foundry") 
  format("svg"); 
}

.main {
    margin-top: 1%;
    margin-bottom: 10px;
    padding-left: 4%;
    // border-bottom: solid black thin;
}

@media screen and (max-width: 900px) {
    .main {
        width: 100%;
        padding-left: 0;
    }
}

.posts {
    list-style-type: none;
    margin: 0;

    li:nth-of-type(1n+2) {
        display: none;
    }
}

.post {
    // border-bottom: solid thin silver;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 0;
    margin-bottom:0;

    .boxstyle {
        display: flex;

        .image {
            float:left;
        }

        @media screen and (max-width: 900px) {
            .image {
                width: 100%;
            }
        }

        .text {
            margin-left: 20px;
            float:right;
            max-width:40%;

            .pageTitle {
                text-transform: uppercase;
                color: goldenrod;
                margin-bottom: 10%;
                padding-top: 0;
                font-size: smaller;
            }

            @media screen and (max-width: 900px) {
                .pageTitle {
                    margin-bottom: 2%;
                }
            }

            h2 {
                font-size: xx-large;
                margin-bottom: 0;
            }

            @media screen and (max-width: 900px) {
                h2 {
                    font-size: 1.2rem;
                }
            }
            
            .summ {
                padding-top: 14%;
            }

            @media screen and (max-width: 900px) {
                .summ {
                    padding-top: 2%;
                }
            }

            @media screen and (max-width: 600px) {
                .summ {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 900px) {
            .text {
                display: contents;
                width: 100%;
                text-align: center;
            }
        }

        
    }

    @media screen and (max-width: 900px) {
        .boxstyle {
            width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
            display: grid;
            
        }
    }

    a {
        color: #111111;
        text-decoration: none;
        display: block;
        padding-bottom: 0;
        padding-top: 0;
    }

    img:hover {
        opacity: .85;
    }

    @media screen and (max-width: 600px) {
        img:hover {
            opacity: 1;
        }
    }

    a:hover {
        
        h2 {
            text-decoration: underline;
        }
    }
    
    .date {
        color: #555555;
        padding-top: 3px;
        margin-bottom: 0;
        font-size: .9rem;
    }

    @media screen and (max-width: 600px) {
        .date {
            display: none;
        }
    }

    @media screen and (max-width: 900px) {
        a {
            justify-content: center;
        align-items: center;
        text-align: center;
        }
    }
}

